body{
  background-image: url('https://images.pexels.com/photos/1851361/pexels-photo-1851361.jpeg');
  background-size:cover;
  background-repeat:no-repeat;
}
img:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
   transform: scale(1.1);     
}
img {

height:320px;
width:507px;
margin-top:2px;

}