{% extends 'base.html'%}

{% block content %}
{{block.super}}
<div class="container">

    <!-- Looping through news   -->
    {% for pictures_item in pictures %}
  
    <div class="row">
     
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h2 class="text-center"> {{pictures_item.name }} </h2>
      </div>
     
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img src="{{pictures_item.image.url}}" class="img-responsive" alt="Image">
      </div>
  
    </div>
  
    </div>
  
    {% empty %}
    <div class="row">
      <h2 class="text-center">There No photos Items</h2>
    </div>
    {% endfor %}
  
  </div>
{% endblock %}